.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  border-style: dashed;
}

.home {
  border-style: dotted;
}

.card {
  text-align: center;
  border: black solid 1px;
  padding: 1rem;
  width: 12rem;
  height: 15rem;
  display: inline-grid;
  margin: 2rem 2rem;
  box-shadow: 2px 2px rgb(99, 206, 103);
  border-radius: 5px;
}