.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  border-style: dashed;
}

.card {
  text-align: center;
  border: black solid 1px;
  padding: 1rem;
  width: 12rem;
  height: 15rem;
  display: inline-grid;
  margin: 2rem 2rem;
  color: #09ac5a;
  box-shadow: 2px 2px #09ac5a;
  border-radius: 5px;
}

nav {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 34px;
}

a {
  color: green;
}

a:visited {
  color: #09ac5a;
}

a:hover {
  color: rgb(9, 77, 3);
}

.container {
  text-align: center;
  margin: auto;
  padding-left: 15%;
  padding-right: 15%;
}
